/* Fundo Escuro do Modal */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Caixa do Formulário */
.modal {
    background-color: var(--card-bg);
    padding: 2.5rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    position: relative;
    border: 1px solid var(--border-color);
}

.btn-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: none;
    border: none;
    color: var(--text-muted);
    font-size: 1.5rem;
    cursor: pointer;
}

.modal h2 { margin-bottom: 0.5rem; }
.modal-subtitle { color: var(--text-muted); font-size: 0.875rem; margin-bottom: 2rem; }

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.input-group label {
    font-size: 0.875rem;
    color: var(--text-main);
    font-weight: 500;
}

.row {
    display: flex;
    gap: 1rem;
}

.btn-submit {
    width: 100%;
    background-color: var(--primary-purple);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.2s;
}

.btn-submit:hover { background-color: var(--primary-purple-hover); }